<?php

# Specify the IP or hostname of where your mailtrain databsae is.
define('DB_HOST', '');

# Specify the username and password of the user to access the mailtrain database as.
# I recommend this is a read-only user.
define('DB_USER', '');
define('DB_PASSWORD', '');

# Specify the name of the database in the host. This is probably "mailtrain"
define('DB_NAME', 'mailtrain');
